.dashboard-header {
	margin-top: 80px;
}

h2, .create-new-container {
	text-align: center;
}

.hospitalizations-header {
	margin: 50px auto;
}

.Collapsible__trigger {
	background-color: #00b1bd;
	display: block;
	width: 100%;
	border: 1px solid black;
	padding: 10px 0;
}

.Collapsible__contentInner, .item-edit button {
	margin-bottom: 20px;
}

.create-new {
	margin-top: 50px;
}