nav {
	position: relative;
}

nav ul {
	text-align: left;
}

nav li {
	list-style-type: none;
	display: inline-block;
}

.navbar {
	background-color: #00b1bd;
	border: none;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	max-height: 50px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, 
	rgba(0, 0, 0, 0.12) 0px 1px 8px; 
}

.navrbar-nav {
	margin-bottom: 0;
}

.navbar-collapse {
	background-color: #00b1bd;
}

.navbar a, .navbar a:hover, .navbar a:focus {
	color: white;
}

 .navbar-default .navbar-nav>li>a {
	color: #f8f8f8;
}

.navbar-brand {
	display: inline-block;
	font-family: 'Monoton', cursive;
}

.navbar-default .navbar-brand {
	color: #f8f8f8;
}

.login-form a {
	color: #00b1bd;
	display: block;
}

.login-form a:hover, .login-form a:focus {
	color: #333;
}

.login-form {
	padding: 5px;
	background-color: white !important;
}

.login-form input[type=submit] {
	margin: 5px 0;
	display: block;
}

.account-settings {
	padding: 0;
	width: 100px;
}

.account-settings li {
	display: block;
}

.account-settings button {
	width: 100%;
	padding: 5px 0;
}

.account-settings button:hover,
.account-settings button:focus {
	color: #f0f0f0;
	background-color: #5c3333;
}